@import "variables", "mixin", "nosotros";

body{ 
    background-color: $fondo
}
.parrafoUno {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: bisque;
    background-color: black;
    
}